

body {
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#title {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 480px) {
    #title {
        font-size: 25px;
    }
    #distance {
        font-size: 20px;
    }
    
}

#distance {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}